<h1>{{ room }} already exists</h1>
<p>If you intent to join it, press the button and wait patiently</p>
<a href="/bouncer?room={{ room }}&name={{ name }}&info={{ info }}&sure=true" class="button success large">Join</a>