<h1>Welcome to the Tent</h1>
<p>Have you got your ID badge ready?</p>
<form method="get" action="/bouncer">
	<div class="eight columns offset-by-two">
		<div class="panel">
			<input type="text" name="name" placeholder="what is your name?" />
			<input type="text" name="room" placeholder="where are you trying to get in?" />
			<textarea name="info" placeholder="any extra information, perhaps a password?"></textarea>
			<button class="small success button">Let me in »</button>
		</div>
	</div>
</form>
