<div class="row">
	<div class="eight columns offset-by-two">
		<h3>Login to the tent</h3>
		<p>Login is optional, however if you have a reserved room or you are an administrator you will need to login to access those features</p>
		<div class="alert-box warn">Please note: We will be using a cookie from this point onwards to keep you logged in</div>
		<a class="button success" href="/auth/twitter">login via twitter</a>
	</div>
</div>