<h1>{{ room }}</h1>
<h6 class="public hide">Public on <a href="/view/{{ room }}">/view/{{ room }}</a></h6>
<div class="hide panel hide-on-connect"><p>You seem to have dropped out. Please wait while we connect you again</p><img src="/assets/wait.gif" /></div>
<div class="alert-box alert wait">Please wait while we pitch a tent for you...</div>
<div class="row">
	<div class="nine columns">
		<div id="thechat"></div>
		<div id="bumchat"></div>
	</div>
	<div class="three columns">
		<ul id="navBar" class="accordion rbar">
			<li class="hide manager">
				<div class="title"><h5>Manager's controls!</h5></div>
				<div class="content">
					<label for="public_room">
						<input type="checkbox" id="public_room" />
						Public Room <abbr title="Makes this room viewable for the public on /view/{{ room }}">?</abbr>
					</label>
					<div class="public hide">Public on <a href="/view/{{ room }}">/view/{{ room }}</a></div>
					<label for="lock_room">
						<input type="checkbox" id="lock_room" class="option" data-option="no_new_tickets" />
						Lock Room <abbr title="Prevents new people joining">?</abbr>
					</label>
					<label for="doors_open">
						<input type="checkbox" id="doors_open" class="option" data-option="doors_open" />
						Open the doors <abbr title="Allows anyone to join in the chat">?</abbr>
					</label>
					<h6>Hooks <abbr title="you can subscribe to hooks that are pushed to this tent">?</abbr> <a href="/hooks/docs" target="_blank">docs</a></h6>
					<input type="text" id="sub_feed" placeholder="e.g: github:kennydude/tent" />
					<div id="feeds">
					</div>
				</div>
			</li>
			<li class="me">
				<div class="title">You</div>
				<div class="content">
					<label for="multiline">
						<input type="checkbox" id="multiline" />
						Multi-line <abbr title="Turns on the multi-line editor">?</abbr>
					</label>
					<div class="row collapse">
						<div class="three mobile-one columns">
							<span class="prefix">nick:</span>
						</div>
						<div class="nine mobile-three columns">
							<input type="text" id="nickname" value="{{ name }}" class="nickname" />
						</div>
					</div>
					<div class="fileupload hide">
						<h5 title="or drag onto the page (notice: images are thumbnailed. share elsewhere for larger). also don't upload giant files">upload</h6>
						<input type="file" id="upload" />
					</div>
				</div>
			</li>
			<li class="hide manager">
				<div class="title">Requests <span class="label round alert requestNumber"></span></div>
				<div class="content">
					<div class="requests"></div>
					<div class="noRequests">There is nobody wanting to join</div>
				</div>
			</li>
			<li class="active">
				<div class="title"><h5 class="show-on-mobile">Who's here</h5></div>
				<div class="peopleHere content">
				</div>
			</li>
		</ul>
		<div class="show-on-mobile" style="height:50px">&nbsp;</div>
	</div>
</div>
{{=<% %>=}}
<!-- Templates -->
<div class="reqTemplate hide">
	<div class="request">
		{{ nickname }} wants to talk
		{{#info}}<br/>
			<small>{{ info }}</small><br/>
		{{/info}}
		<a class="tiny button success allow">ok</a>
		<a class="tiny button alert deny">no</a>
	</div>
</div>
<div class="feedTemplate hide">
	<div class="row">
		<div class="ten columns">
			{{ name }}
		</div>
		<div class="one columns">
			<a href="#" class="rm" title="stop receiving messages from this feed">x</a>
		</div>
	</div>
</div>
<%={{ }}=%>
<div class="composer_box singleLine">
	<input type="text" id="composer" placeholder="talk here" />
</div>
<div class="composer_box multilineEd hide">
	<div class="row"><div class="eleven columns">
		<textarea id="multilineEd" placeholder="talk here"></textarea>
	</div><div class="one column">
		<button id="send_multiline" class="button">Send</button>
	</div></div>
</div>
<div id="kickModal" class="reveal-modal">
  <h2>Kick user?</h2>
  <p class="lead">Are you sure you want to kick <span class="user"></span></p>
  <p>
  	<a class="button close kick success">yes</a>
  	<a class="button close warn">no</a>
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="dragModal" class="dragModal hide">
</div>
<div class="reveal-modal dragModal show">
	<h2>Drop that file to add it to the chat!</h2>
</div>
<script type="text/javascript">
moreRoom = "/room";
var myNickName = "{{ name }}";
var myTicket = "{{ ticket }}";
sockets();
var socketReady = function() {
	include(["/assets/showdown.js","/assets/room.js"]);
};
</script>
