<h1>{{ room }}</h1>
<h6 class="public hide">Public on <a href="/view/{{ room }}">/view/{{ room }}</a></h6>
<div class="hide panel hide-on-connect"><p>You seem to have dropped out. Please wait while we connect you again</p><img src="/assets/wait.gif" /></div>
<div class="row">
	<div id="thechat" class="nine columns">
		
	</div>
	<div class="three columns">
		<div class="hide manager panel">
			<label for="public_room">
				<input type="checkbox" id="public_room" />
				Public Room
			</label>
		</div>
		<div class="me panel">
			<div class="row collapse">
				<div class="three mobile-one columns">
					<span class="prefix">nick:</span>
				</div>
				<div class="nine mobile-three columns">
					<input type="text" id="nickname" value="{{ name }}" class="nickname" />
				</div>
			</div>
			<div class="fileupload hide">
				<h5 title="or drag onto the page (notice: images are thumbnailed. share elsewhere for larger). also don't upload giant files">upload</h6>
				<input type="file" id="upload" />
			</div>
		</div>
		<div class="requests">
			
		</div>
		<h5 class="show-on-mobile">Who's here</h5>
		<div class="peopleHere">
		</div>
	</div>
</div>
{{=<% %>=}}
<!-- Templates -->
<div class="reqTemplate hide">
	<div class="panel">
		{{ nickname }} wants to talk
		{{#info}}<br/>
			<small>{{ info }}</small><br/>
		{{/info}}
		<a class="tiny button success allow">ok</a>
		<a class="tiny button alert deny">no</a>
	</div>
</div>
<%={{ }}=%>
<div id="composer_box">
	<input type="text" id="composer" placeholder="talk here" />
</div>
<div id="kickModal" class="reveal-modal">
  <h2>Kick user?</h2>
  <p class="lead">Are you sure you want to kick <span class="user"></span></p>
  <p>
  	<a class="button close kick success">yes</a>
  	<a class="button close warn">no</a>
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="dragModal" class="dragModal hide">
</div>
<div class="reveal-modal dragModal show">
	<h2>Drop that file to add it to the chat!</h2>
</div>
<script type="text/javascript">
String.prototype.replaceAll=function(s1, s2) {return this.split(s1).join(s2)}
moreRoom = "/room";
var myNickName = "{{ name }}";
var myTicket = "{{ ticket }}";

sockets();
var socketReady = function() {
	include(["/assets/jquerypp.js", "/assets/hogan.js", "/assets/md5.js", "/assets/jquery.foundation.reveal.js"], function() {

		include("/assets/basechat.js");
		$("#kickModal .close").click(function() {
			$("#kickModal").trigger("reveal:close");
		});	
		var reqTemplate = Hogan.compile($(".reqTemplate").html());
		$("#nickname").on("keydown", function(e){
			if(e.keyName() == "\r"){
				socket.emit("nick", {"new": $("#nickname").val()});
				renameUser({"nickname" : $("#nickname").val(),"ticket" : myTicket});
				myNickName = $("#nickname").val();
			}
		});
		$("#composer").on("keydown", function(e){
			if(e.keyName() == "\r"){
				data = {"message":$("#composer").val()};
				socket.emit("msg", data);
				$("#composer").val("");
			}
		});
		$("#public_room").on("change",function() {
			socket.emit("public", {"public" : $("#public_room").attr("checked") != undefined});
			if( $("#public_room").attr("checked") != undefined ){
				$(".public").show();
			} else{
				$(".public").hide();
			}
		});

		socket.on("manager", function(){
			$("<style>").html(".manager{display:block !important;}").appendTo("head");
		});
		socket.on("kick", function(){
			document.location.href = "/?kicked";
		});

		socket.on("nock", function(data){
			d = $( reqTemplate.render(data) ).appendTo(".requests");

			$(".allow", d).click(function(){
				socket.emit("allow", {"ticket":$(this).data("ticket")});
				$(this).parent().remove();
			}).data("ticket", data.ticket);

			$(".deny", d).text("no").click(function(){
				socket.emit("deny", {"ticket":$(this).data("ticket")});
				$(this).parent().remove();
			}).data("ticket", data.ticket);
		});

		if (window.File && window.FileReader && window.FileList && window.Blob && window.Image) {
			include("/assets/chatfiles.js");
		}
	});
};

</script>
