<h1>{{ room }}</h1>
<p class="public">Currently Public! :)</p>
<p>You can request to join <a href="/">from the front page</a> with a room name of {{ room }}</p>
<div class="hide alert-box alert non-public">Not public. You won't see any new messages until the room is public again.</div>
<div class="hide panel hide-on-connect"><p>You seem to have dropped out. Please wait while we connect you again</p><img src="/assets/wait.gif" /></div>
<div class="row">
	<div class="nine columns">
		<div id="thechat"></div>
		<div id="bumchat"></div>
	</div>
	<div class="three columns hide-on-mobile">
		<h5>Who's here</h5>
		<div class="peopleHere">
		</div>
	</div>
</div>
<script>
moreRoom = "/view";

sockets();
var socketReady = function() {
	$(".non-public").hide();
	include(["/assets/hogan.js", "/assets/md5.js"], function() {include("/assets/basechat.js");});
};
</script>